// Place all the styles related to the Main controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

html, body {
  overflow-x: hidden;
}

body {
  position: relative;
  padding-top: 80px;
  font-family: 'Lato', sans-serif;
  min-height: 100vh;
  opacity: 0;
  @media screen and (min-width: $breakpoint-sm) {
    padding-bottom: 60px;
  }
}

// navbar
.navbar {
  height: 60px;
  line-height: 30px !important;
  background: white;
  & .navbar-header {
    float: left !important;
    & > .navbar-brand {
      font-size: 24px;
      font-family: 'Berkshire Swash';
      color: $brightred;

      & > .glyphicon-flag {
        letter-spacing: -2px;
      }
    }
  }
  & .nav {
    float: right !important;
    margin-right: -15px;
    margin-top: 0;
    margin-bottom: 0;
    & > li {
      font-size: 16px;
      & > a {
        height: 60px;
        line-height: 30px;
        @media screen and (max-width: $breakpoint-xs) {
          line-height: 38px;
        }
      }
      & > .dropdown-menu {
        position: absolute;
        right: 0;
        left: 0;
        background: white;
        border: 1px solid rgba(0, 0, 0, 0.15);
        border-radius: 0 0 4px 4px;
        box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
      }
    }
  }
}

.title {
  text-transform: uppercase;
  letter-spacing: 5px;
}

.landing {
  position: absolute;
  top: 60px;
  right: 0;
  bottom: 0;
  left: 0;
  background: image-url('background.jpg');
  background-position: bottom;
  background-size: cover;
  background-repeat: no-repeat;

  & > .overlay {
    position: absolute;
    top: 40px;
    left: 4vw;
    padding: 30px;
    border-radius: 30px;
    background: linear-gradient(90deg, #FF512F 10%, #F09819 90%);
    color: white;
    text-shadow: 3px 1px 5px black;
    mix-blend-mode: multiply;
    &:hover {
      background: rgba(220,220,220, 0.8);
      mix-blend-mode: normal;
      color: $brightred;
      text-shadow: 3px 1px 5px rgba(220,220,220, 0.8);
    }
    & > h2:nth-child(2) {
      text-align: right;
      & > a {
        text-decoration: none;
        color: white;
        &:hover {
          font-style: italic;
        }
      }
    }
  }
}

.container {
  margin-bottom: 5vh;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px;
  background-color: #434343;
  text-align: right;
  padding-right: 3rem;
  @media screen and (max-width: $breakpoint-xs) {
    display: none;
  }
  & > h4 {
    line-height: 60px;
    margin: 0;
    color: white;
    & > a, & > a:hover {
      color: white;
    }
  }
}
